{% extends "portfolio/layout.html" %}

{% block content %}

{% load static  %}

<header class="row bg-black">
    <div class="col-md-4">
        <img src="{% static 'portfolio/profile.jpg' %}" class="profile-photo" />
    </div>
    <div class="col-md-8 my-auto">
        <h1>I am <strong>Ivan Camilo</strong> </h1>
        <h3>Software Developer</h3>
        <p>
            I am a software developer with experience in web development. I have experience in Python, Django, and JavaScript. I am also a fan of the Django framework.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
        </p>
        <a
            href="{% static 'portfolio/CV_IvanCamiloBE.pdf' %}" 
            class="btn btn-primary btn-lg rounded-0 my-3"
        >Download CV</a
        >
    </div>
</header>

<section class="row my-4 text-center">

    <h3>Projects</h3>
    <p>These are some of the projects I have worked on
        lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </p>

    {% for project in projects %}

    <article class="col-md-4 p-4">
        <div class="card bg-black card-project">
            <img src="{{ project.image.url }}" alt="{{ project.title }}" class="card-img-top">
            <div class="card-body">

                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
            
                    {% if project.url %}
                    <a href="{{ project.url }}" class="btn btn-primary rounded-1 btn-sm" target="_blank">{{ project.url }}</a>
                    {% endif %}
            
            </div>
        </div>
    </article>

    {% endfor %}

</section>

{% endblock %}